{% set blogBreadcrumbs = __SELF__.blogBreadcrumbs %}
{% set compatibility = __SELF__.compatibility %}
{% set divider = __SELF__.divider %}

{% if blogBreadcrumbs and not compatibility %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">{{ 'Home'|_ }}</a>
            {% if divider %}
                <span class="breadcrumb-divider">{{ divider }}</span>
            {% endif %}
        </li>
        {% for breadcrumb in blogBreadcrumbs %}
            <li class="breadcrumb-item {{ breadcrumb.isActive ? 'active' : '' }}">
                {% if breadcrumb.isActive %}
                    {{ breadcrumb.title }}
                {% else %}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
                {% endif %}
                {% if divider and not breadcrumb.isActive %}
                    <span class="breadcrumb-divider">{{ divider }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endif %}
